/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
/* ! Vitrina */
.buttonDataContainer--summary {
  font-family:  'Encode Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.buttonDataContainer--summary :global(.vtex-button__label) {
  padding: 10px !important;
}
/* ------------------------------- */
/* //* Product Page */
/* ------------------------------- */
.buttonText {
  font-family:  'Encode Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  text-transform: initial;
  margin-right: 1.5rem;
}
.buttonText::before {
  background-image: url(https://pianteco.vtexcommercestable.com.br/arquivos/cart-icon-piante2.png) !important;
  background-size: 100% !important;
  background-repeat: no-repeat;
  margin-top: 10px;
  content: "";
  height: 33px;
  width: 23px;
  position: absolute;
  left: 82.5%;
  top: 0px;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1026px) {
  .buttonDataContainer--summary {
    margin: 0 25px 0 0;
  }
  /* ! Vitrina */

  /* .buttonText--summary {
    font-size: 15px !important;
    max-width: 15rem;
  } */
  .buttonText::before {
    margin-top: 15px;
    height: 33px;
    width: 23px;
    left: 80%;
    top: -6px;
  }
  .buttonText {
    margin: 0;
    font-size: 1.1rem;
  }
  .buttonText--summary::before {
    /* top: -9px; */
    left: 72%!important;
    top: -8px !important;
  }
}
/* ------------------------------- */
@media (max-width: 425px) {
  .buttonText {
    width: 78px;
    line-height: 1;
    font-size: 15px;
  }
  .buttonText::before {
    height: 33px;
    width: 19px;
    position: absolute;
    left: 76.5%;
    top: 2px;
  }
  .buttonText--summary {
    padding: 0;
    font-size: 15px;
    max-width: 70px;
    line-height: 1;
  }

  .buttonText--summary::before {
    top: 2px;
    left: 66%;
  }
}
