/* ------------------------------- */
/* //* Menu */
/* ------------------------------- */
.closeIconContainer {
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  display: none;
}
.drawerContent {
  height: 100vh;
}
.closeIconButton {
  color: #324545;
}
.drawer {
  padding-top: 7.4rem;
  width: 100% !important;
  max-width: 100% !important;
  top: 0;
  background: white;
  backdrop-filter: blur(0px);
  z-index: 0;
}
.overlay {
  opacity: 0 !important;
}
.overlay--visible {
  z-index: 999999999999;
  width: 14%;
  height: 15%;
  position: fixed;
  top: 0;
  opacity: 1!important;
  background-color: transparent;
}
.overlay--visible::before {
  content: "x";
  content: "X";
  font-size: 30px;
  position: absolute;
  font-family: "Encode Sans",sans-serif;
  font-weight: 600;
  color: #324545;
  background: white;
  margin-left: 3px;
  top: 4rem;
  left: 1.05rem;
}
.overlay--visible::after {
  content: "x";
  background-size: 100%;
  position: relative;
  top: 5%;
  left: 7px;
  background-color: #d5d8d800;
  width: 3rem;
  min-height: 0;
  background-repeat: no-repeat;
  font-size: 35px;
  color: #324545;
  display: flex;
  justify-content: center;
  display: none;
}
/* ------------------------------- */
