/* ------------------------------- */
/* //* MiniCart V2 Component */
/* ------------------------------- */
.summarySmallContent {
  color: #324545;
  font-family: Alegreya;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.summarySmallDisclaimer {
  font-size: 0;
}
.summarySmallDisclaimer::before {
  content: 'Envío e impuestos calculados en el carrito';
  color: #808080;
  font-family: Alegreya;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.summaryItemContainer {
  color: #324545;
}
.summaryItemLabel {
  font-weight: bold;
}
.summaryItemPrice {
  font-weight: bold;
}
/* ------------------------------- */
