/* ------------------------------- */
/* //* Header */
/* ------------------------------- */

/* ------------------------------- */
@media (min-width: 1026px) {
.wrapper--sticky-header {
  position: absolute !important;
  top: 28px;
  width: 100%;
}
}