/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.label {
  display: block;
  padding: 0;
  color: #808080;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  text-transform: inherit;
  font-size: 0;
}
.buttonLink :global(.vtex-button) {
  border-radius: 100px;
  
}
.buttonLink :global(.vtex-button__label) {
  padding: 0;
  margin:0 8px 0;

}
.container :global(.relative) {
  width: 100%;
}
.container :global(.vtex-button):hover {
  background-color: transparent;
}
:global(.vtex-login-2-x-profile) {
  display: block;
  padding: 0;
  width: 100% !important;
  max-width: 200px;
  color: #324545;
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: none;
}
:global(.vtex-button__label) {
  padding: 0;
}
/* ------------------------------- */
/* //* Login Page  */
/* ------------------------------- */

.content--emailAndPassword {
  flex-direction: column;
  align-items: center;
}
.formTitle {
  font-size: 0;
  margin-bottom: 18px;
}
.loginOptionsContainer .formTitle::before {
  font-family: "Encode Sans", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #000000;
  content: "Escoge una opción para iniciar sesión";
}
.emailVerification .formTitle::before {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  content: "Iniciar sesión con eMail y contraseña";
}
.eyeIcon--invisible {
  color: #324545;
}
.forgotPasswordLink {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #324545;
  text-decoration: underline;
}
.formFooter {
  padding-top: 30px;
}
.dontHaveAccount {
  margin: 15px;
  font-family: "Encode Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #808080;
}
.formTitle {
  margin-bottom: 1rem;
}
.dontHaveAccount {
  text-decoration-line: underline;
  color: #324545;
}
.button :global(.vtex-button) {
  min-height: 3rem;
  margin: 0.5rem 0px;
  border: 1px solid #324545;
}
.dontHaveAccount:hover {
  text-decoration: underline;
}
.accessCodeOptionBtn :global(.vtex-button) {
  border: 0;
  background: #d3d3d3;
  border-radius: 5px;
  width: 100%;
}
.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size: 0;
}
.accessCodeOptionBtn :global(.vtex-button__label)::before {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  content: "Recibir codigo de acceso por email";
  text-transform: none;
}
.inputContainer :global(.vtex-input-prefix__group) {
  background-color: #f8f8f8;
  border-radius: 100px;
  background: #f9faf5;
  border: 1px solid #324545;
  border-radius: 5px;
  padding: 0;
  margin: 0.5rem 0rem;
  width: 100%;
  height: 3rem;
}
.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-family: "Encode Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #dcdcdc;
}
.sendButton :global(.vtex-button) {
  background-color: #324545;
  border-color: #324545;
  border-radius: 100px;
  padding: 6px;
}
.sendButton :global(.vtex-button__label) :global(.t-small) {
  font-family: "Encode Sans", sans-serif;
  font-size: 0;
  font-weight: 600;
}
.sendButton :global(.vtex-button__label) :global(.t-small)::before {
  content: "Iniciar Sesión";
  font-size: 18px;
}
.emailPasswordOptionBtn {
  margin: 0 20px;
}
.emailPasswordOptionBtn :global(.vtex-button) {
  border: 0;
  background: #d3d3d3;
  border-radius: 5px;
  width: 24rem;
}
.emailPasswordOptionBtn :global(.vtex-button__label) {
  font-family: "Encode Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #324545;
}
.container :global(.vtex-button__label)::before {
  content: "";
  width: 25px;
  height: 34px;
  background-image: url(https://pianteco.vtexcommercestable.com.br/arquivos/user-icon-piante.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0;
  margin: 1rem 0px;
  margin-top: 25px;
}
.contentForm {
  width: 100%;
  margin-top: 2rem;
  padding: 0;
}
.loginOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.oauthProvider {
  color: #324545;
  font-family: "Encode Sans", sans-serif;
}
.oauthLabel {
  color: #324545;
  font-family: "Encode Sans", sans-serif;
}
.content--emailAndPassword {
  margin-top: 3rem;
}
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1026px) {
  .emailPasswordOptionBtn {
    margin: 0;
  }
  .options {
    min-width: 20rem;
  }
  .contentForm {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 2rem;
    min-width: auto;
  }
  .portalWrapper   .contentForm {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0;
    min-width: auto;
    margin: 0;
  }
  .contentAlwaysWithOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    max-width: none;
    min-height: auto;
  }
  .emailVerification .formTitle::before {
    font-size: 19px;
  }
  .formTitle {
    padding-bottom: 1rem;
    margin: 0.4rem;
  }
  .box {
    width: 12rem !important;
    min-width: 8rem;
    margin-right: 0.8rem;
  }
  .accountOptions {
    display: flex;
    flex-direction: column;
  }
  .accessCodeOptionBtn :global(.vtex-button) {
    width: 24rem;
  }
  .inputContainer :global(.vtex-input-prefix__group) {
    width: 24rem;
    margin: 1rem auto;
  }
  /* ! Header */
  .label {
    font-size: 0px;
    font-weight: 400;
    text-align: center;
  }

  :global(.vtex-login-2-x-profile) {
    font-weight: 500;
  }
  .content--emailAndPassword {
    flex-direction: row;
    align-items: center;
    padding: 3rem 10px 10rem;
    max-width: 63rem;
    margin-top: 6rem;
    max-height: none;
    display: flex;
  }
  .container::before {
    content: "|";
    margin: 0 1rem;
  }
}
/* ------------------------------- */
