/* ------------------------------- */
/* //* Header */
/* ------------------------------- */
.userGreeting {
  display: none;
}
.userName {
  display: none;
}
.menuLinks :global(.vtex-account_menu-link) {
  padding-left: 0;
  font-family: "Encode Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-top: 0;
  border-bottom: 1px solid #0016894d;
  color: #324545;
}
.menuLinks :global(.vtex-account_menu-link)[href="#/profile"] {
  color: #324545;
}
.menu {
  padding: 20px;
}
.menuLink {
  padding-left: 0;
  font-size: 0;
  padding-top: 0;
}
.menuLink::before {
  padding-left: 0;
  font-style: normal;
  line-height: 44px;
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #324545;
  margin: 0;
  content: "Cerrar sesion";
}
.boxContainer {
  background-color: #f8f8f8;
  border: 0;
}
.dataEntryLabel {
  font-family: "Encode Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #324545;
}
.firstNameSubContainer {
  margin-bottom: 20px;
}
.dataEntryChildren {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}
.newsletterContainerTitle {
  font-size: 0;
  margin-bottom: 10px;
}
.newsletterContainerTitle::before {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  content: "Newsletter";
  color: #324545;
}
.newsletterContainerMessage {
  font-size: 0;
}
.newsletterContainerMessage::before {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  content: "¿Desea recibir emails promocionales?";
}
.passwordBox :global(.vtex-checkbox__label) {
  font-size: 0;
}
.passwordBox :global(.vtex-checkbox__label)::before {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  content: "Deseo recibir newsletter";
}
.boxContainerFooter :global(.vtex-button__label) {
  color: #324545;
  font-family: "Encode Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: inherit;
}
.boxContainerFooter :global(.vtex-button__label)::before {
  content: "";
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(https://pianteco.vtexcommercestable.com.br/arquivos/edit-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
:global(.vtex-account__page)
  :global(.vtex-button)
  :global(.ml3.ttu.t-action--small) {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
:global(.vtex-account__page) :global(.vtex-pageHeader__title) {
  font-family: "Encode Sans", sans-serif;
  font-weight: 600;
  color: #324545;
  font-size: 2rem;
}
:global(.vtex-account__orders-list),
:global(.vtex-account__orders-list),
:global(.vtex-account__cards-list),
.addressList {
  padding: 50px 20px;
}
:global(.vtex-account__cards-list) :global(.t-heading-4),
:global(.vtex-account__orders-list) :global(.t-heading-4),
.addressList :global(.t-heading-4) {
  font-family: "Encode Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #808080;
}
:global(.vtex-account__cards-list) :global(.t-heading-4) :global(.c-on-base),
:global(.vtex-account__orders-list) :global(.t-heading-4) :global(.c-on-base) {
  color: #808080;
}
:global(.vtex-pageHeader__container) :global(.vtex-pageHeader__children) {
  margin-top: 20px;
}
:global(.vtex-pageHeader__container)
  :global(.vtex-pageHeader__children)
  :global(.vtex-button) {
  background-color: #324545;
  border-color: #324545;
  border-radius: 100px;
  padding: 5px 23px;
}
:global(.vtex-pageHeader__container)
  :global(.vtex-pageHeader__children)
  :global(.vtex-button__label) {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}
:global(.vtex_my-authentication_box_container) {
  background-color: #f8f8f8;
  border: 0;
}
:global(.vtex-my-authentication-1-x-maskedPassword_title) {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #324545;
}
:global(.vtex-my-authentication-1-x-loginSessionsBox_title) {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #324545;
}
:global(.vtex-my-authentication-1-x-box_footer) {
  text-align: end;
}
:global(.vtex-my-authentication-1-x-maskedPassword_content) {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #808080;
}
:global(.vtex-my-authentication-1-x-loginSessionsBox_content) {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #808080;
}
:global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button__label),
:global(.vtex-my-authentication-1-x-maskedPassword_content)
  :global(.vtex-button__label) {
  color: #324545;
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: inherit;
}
:global(.vtex-my-authentication-1-x-box_footer)
  :global(.vtex-button__label)::before,
:global(.vtex-my-authentication-1-x-maskedPassword_content)
  :global(.vtex-button__label)::before {
  content: "";
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("https://beisbol.vteximg.com.br/arquivos/icon-edit-account.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
:global(.vtex-modal__confirmation) :global(.mr4) :global(.vtex-button) {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #808080;
}
:global(.vtex-modal__confirmation) > :global(.vtex-button) {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #324545;
  border-color: #324545;
}
:global(.vtex-modal__overlay) :global(.t-heading-5) {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #324545;
}
:global(.vtex__icon-close) {
  color: #324545;
}

/* ------------------------------- */
/* //? Media Queries */
/* ------------------------------- */
.menuLinks :global(.vtex-account_menu-link) {
  border: 0;
  font-style: normal;
  line-height: 44px;
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  margin: 0;
}
@media (max-width: 700px) {
  :global(.vtex-account_menu-link)::before {
    content: "";
    position: absolute;
    background: #d3d3d3;
    height: 2px;
    width: 90%;
    margin-top: 3.5rem;
  }
}
@media (min-width: 1026px) {
  :global(.vtex-account__page) :global(.vtex-pageHeader__title) {
    font-size: 50px;
  }
  :global(.vtex-account_menu-link)::before {
    display: none;
  }

  :global(.vtex_my-authentication_box_container) {
    border: 0;
    background: #f2f2f0;
    border-radius: 5px;
  }
  .addressList {
    margin-top: 6rem;
  }
  :global(.vtex-account__orders-list) {
    margin-top: 6rem;
  }

  :global(.vtex-account__cards-list) {
    margin-top: 6rem;
  }
  :global(.vtex-my-authentication-1-x-authenticationScreen_container) {
    margin-top: 5rem;
    max-width: 45rem;
  }
  :gobal(.vtex-account__create-card) {
    padding-top: 7rem;
  }
  .profileEdit {
    padding: 0;
    margin-top: 6rem;
  }
  :global(.vtex-account__page) {
    width: 100%;
  }
  :global(.vtex-account__page) :global(.vtex-pageHeader-link__container) {
    top: 11rem;
    position: relative;
    left: -1rem;
  }
  :global(.vtex-account__page) :global(.vtex-pageHeader__title) {
    margin-left: -9rem;
  }
  .menu {
    padding: 20px;
    width: 50%;
  }
  .userImage {
    margin-right: 15rem;
  }
  .userInfo {
    margin: 0;
    background: #f6f3ee;
    backdrop-filter: blur(10px);
    width: 39% !important;
    position: absolute;
    left: 0;
    top: 6.7rem;
    height: 8.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .vtex-account {
    width: 100%;
  }

  :global(.vtex-account) :global(.flex) {
    width: 100%;
    max-width: 100%;
  }
  .newsletterBoxContainer {
    max-width: 20rem;
    margin: 0 1rem;
  }

  .profile {
    display: flex;
    justify-content: center;
    max-width: 57rem;
    margin: 0 auto 0 0;
    margin-top: 2rem;
  }

  .boxContainerBody {
    background: #f2f2f0;
  }

  .boxContainerFooter {
    background: #f2f2f0;
    position: relative;
    top: -4rem;
  }

  .menuLinks {
    background: #f2f2f0;
    padding: 1rem;
    min-width: 17rem;
    position: relative;
    top: 11rem;
    max-width: 17rem;
    display: flex;
    justify-content: space-around;
    float: right;
    min-height: 23rem;
    flex-direction: column;
  }
  .menuLinks :global(.vtex-account_menu-link) {
    border: 0;
  }
  .menuLinks :global(.vtex-account_menu-link)[href="#/profile"] {
    color: #324545;
  }
  .menuLinks :global(.vtex-account_menu-link.b--action-primary) {
    font-family: "Encode Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #324545;
  }
  :global(.vtex-account__page) :global(.vtex-pageHeader__title) {
    text-align: start;
  }
  :global(.vtex-pageHeader__container)
    :global(.c-on-base.flex.flex-wrap.flex-row.justify-between.mt0) {
    align-items: center;
  }
  :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__children) {
    margin-top: 0;
    margin-left: 15px;
  }
  :global(.vtex-account__page) :global(.vtex-pageHeader__container) {
    background: #f6f3ee;
    backdrop-filter: blur(10px);
    min-height: 9.8rem;
  }
  :global(.vtex-account):first-child {
    min-height: 46rem;
  }
  .addressCreate {
    padding: 7rem 0;
  }
}
/* ------------------------------- */
