/* ------------------------------- */
/* //* Home */
/* ------------------------------- */
/* ! Vitrina */
.element--ProductShelfHome {
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0;
  transition: 0.5s;
  background-color: white;
  padding: 14px;
  margin: 0;
}

.element--ProductShelfHome .brandName {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family:  'Encode Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #363636;
}
.element--ProductShelfHome :global(.vtex-button) {
  margin-top: 0;
  background-color: #324545;
  border-color: #324545;
  border-radius: 100px;
  transition: 0.3s;
}
.element--ProductShelfHome :global(.vtex-button):hover {
  background-color: #698d6f;
  border-color: #698d6f;
}
.element--ProductShelfHome :global(.vtex-button__label) {
  padding: 8px 0 !important;
}
.image {
  width: 100%;
  min-height: 160px;
  object-fit: contain;
}
/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 1026px) {
  .element--ProductShelfHome :global(.vtex-button__label) {
    padding: 8px 0 !important;
  }

  /* ! Vitrina */
  .brandName {
    font-size: 17px;
  }
  .element--ProductShelfHome:hover {
    background-color: #fff;
    border-color: #fff;
    box-shadow: -2px 3px 15px 0 rgb(0 0 0 / 6%);  
  }
  .element--ProductShelfHome {
    padding: 7px 7px 1.5rem;
    margin: 6px 1rem;
    background-color: initial;
  }
  
}

/* ------------------------------- */
.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding: 0;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2e2e2e;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
