/* ------------------------------- */
/* //* Product page */
/* ------------------------------- */
.product-identifier {
  text-align: left;
  font-family: 'Encode Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #808080;
}
/* ------------------------------- */
