.productListUnavailableItemsMessage {
  color: #324545;
  font-family: Alegreya;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 1px solid #324545;
}
.productListAvailableItemsMessage {
  color: #324545;
  font-family: Alegreya;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 1px solid #324545;
}
.unitPriceMeasurementUnit,
.unitPricePerUnitCurrency {
  font-family: 'Alegreya';
  font-size: 13px;
  font-weight: 700;
}
