/* ------------------------------- */
/* //* Footer */
/* ------------------------------- */
.trigger--Disclosure__Trigger {
  margin: 5px;
  padding: 0.5rem 1.5rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 9px;
  outline: none;
}
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--client)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--support)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--politics)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--institutional)::after,
.trigger--Disclosure__Trigger--visible
  :global(.vtex-rich-text-0-x-paragraph--FooterTitle--terms)::after {
  transform: rotate(180deg);
}

/* ------------------------------- */
/* //* Politics Page */
/* ------------------------------- */
.trigger--Disclosure__Trigger-Politics {
  margin-bottom: 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: #F2F2F0;
  border-radius: 5px;
}
.trigger--disclosure-icon-search-mobile {
  background: transparent;
  border: none;
  outline: none;
  padding-top: 4px;
}
.trigger--disclosure-icon-search-mobile--visible::before {
  content: "X";
  font-size: 28px;
  top: 1.5rem;
  position: absolute;
  font-family: "Encode Sans",sans-serif;
  font-weight: 600;
  color: #324545;
  background: white;
  margin-left: 3px;
}
.content--disclosure-search-mobile--visible {
  z-index: 50;
}

.trigger--visible {
  z-index: 50;
}


.trigger--Disclosure__Trigger-Politics--visible
  :global(.vtex-rich-text-0-x-wrapper--Politics__Group-Title)::after {
  transform: rotate(180deg);
}
.content--Disclosure__content {
  padding: 0 30px;
  width: 100%;
}

/* ------------------------------- */
/* //* Menu */
/* ------------------------------- */
.trigger--Disclosure__Trigger--Category {
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #324545;
  border-radius: 0;
}

/* ------------------------------- */
/* //? Medias Query */
/* ------------------------------- */
@media (min-width: 800px) {
  /* ! Footer */
  .trigger--Disclosure__Trigger {
    width: 100%;
  }
}
/* ------------------------------- */
.trigger--question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: 600;
}

.trigger--question:focus,
.trigger--question:focus :global(.vtex-rich-text-0-x-paragraph) {
  color: #324545;
}

.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-right: 1rem;
}

.content--answer {
  transition: opacity 250ms ease-in-out, height 250ms ease-in-out,
    transform 250ms ease-in-out;
  opacity: 0;
  height: 0;
  transform: translate3d(0, -10%, 0);
}

.content--answer[data-enter] {
  opacity: 1;
  height: fit-content;
  transform: translate3d(0, 0, 0);
}

.content--answer[data-leave] {
  height: 0;
  overflow: hidden;
}
